@import "tailwindcss";

:global(body) {
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center; /* keeps whole layout vertically centered */
    background-color: #000000;
    background-image: radial-gradient(#3d3d3d .5px, transparent 2px);
    background-size: 32px 32px; /* tile the pattern */
    background-repeat: repeat;
    background-position: 0 0;
    min-height: 100vh;
    width: 100vw;
    color: #fff;
}

    .layout {
    display: grid;
    grid-template-columns: 1fr 640px 1fr;
    align-items: stretch;
    gap: 1rem;
    width: 100%;
    max-width: 1280px;

    /* instead of full height, just match center content height */
    height: 480px; /* same as camera image height */
}

.side {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.center {
  width: 640px;
  margin: 0 auto;
  text-align: center;
}

.left {
  align-items: flex-end;
}

.right {
  align-items: flex-start;
  height: 480px;
}

.side.right > div {
  flex: 1; /* both take equal space */
  }

.border {
  border: 1px solid #fff;
  /* border-radius: 5px; */
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 